* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#parent {
  height: 100%;
  width: 100%;
  /* color: wheat; */
  font-size: 40px;
  /* background-color: aqua; */
  /* grid box perpoties */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 400px 400px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.child {
  height: 100%;
  width: 100%;
  margin: 20px;
}

.child > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* .child:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
} */

@media (min-width: 400px) and (max-width: 800px) {
  #parent {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: aqua;
  }
}

@media (max-width: 400px) {
  #parent {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: lightgray;
  }
}
